/**************************/
/* Start Style Login Page */
/**************************/

#login{
      margin-top:50px;
      border:2px solid #2473a6;
      width:300px;
}
#login h1{
    font-weight:bold;
    color:#2473a6;
    text-align: center;
}
#login input{
      padding-left:2px;
      border-left:3px solid #2980b9;
      border-radius:0px;
}
#login input:focus{
      padding-left:3px;
      border-left:6px solid #2980b9;
      border-radius:0px;
}
#login button{
    border-radius:0px;
}


/* End Style Login Page */
